body {
  background: #f3f4f5;
  overflow: visible;
  overflow-x: hidden;
}

.btn {
  border-radius: 10px;
}

.navbar {
  background: rgba(241, 242, 244, 0.8);
  border-bottom: 1px solid #dfe3e7;
}

.ctnt {
  background: #f3f4f5;
}

@media (min-width: 768px) {
  .ctnt {
    background: transparent;
    height: 500.344px;
  }
}

@media (min-width: 1200px) {
  .ctnt {
    height: 600.344px;
  }
}

@media (min-width: 1400px) {
  .ctnt {
    height: 852.344px;
  }
}

@media (min-width: 1200px) {
  .card-img {
    transform: translate(337px);
  }
}

.tele {
  margin-top: 28px;
}

@media (min-width: 992px) {
  .tele {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .rowlmao {
    margin-top: 21px;
  }
}

.rowlmao {
}

@media (max-width: 768px) {
  .colyo {
    /*margin-top: 15px;*/
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .colyoextra {
    margin-top: 15px;
  }
}

.tele {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.cardident:hover .tele {
  transform: scale(1.1);
}

@media (min-width: 576px) {
  .randomp {
    max-width: 295px;
  }

  .randomp-smaller {
    max-width: 264px;
  }
}

@media (min-width: 768px) {
  .randomp-smaller {
    max-width: 174px;
  }
}

@media (min-width: 992px) {
  .randomp-smaller {
    max-width: 264px;
  }
}

@media (min-width: 768px) {
  .firsttopic {
    font-size: 49px;
  }
}

.descp {
  margin-right: auto;
  margin-left: auto;
}

.modelhi {
  transform: translate(-48%, -50%);
  position: absolute;
  top: 50%;
}

.titleslol {
  column-gap: 4px;
}

.anatomytopics {
  max-width: 188px;
  margin-left: auto;
}

@media (min-width: 576px) {
  .anatomytopics {
    max-width: 237px;
  }
}

@media (min-width: 576px) {
  .itemdesc {
    font-size: 15.5px;
  }
}

@media (min-width: 768px) {
  .anatomytopics {
    margin-left: 0px;
  }
}

@media (min-width: 768px) {
  .modelhi {
    transform: translate(-54%, -50%);
  }
}

@media (min-width: 992px) {
  .modelhi {
    transform: translate(-74%, -50%);
  }
}

@media (min-width: 992px) {
  .itemdesc {
    font-size: 17.5px;
  }
}

@media (min-width: 992px) {
  .anatomytopics {
    max-width: 338px;
  }
}

@media (min-width: 992px) {
  .itemtitles {
    font-size: 34.376px;
  }
}

.number {
  width: 36px;
}

@media (min-width: 992px) {
  .number {
    width: 48px;
  }
}

.controls {
  width: fit-content;
}

@media (min-width: 344px) {
  .controls {
    align-self: center !important;
  }
}

.controlarrows:hover {
  cursor: pointer;
}

.item-transitions {
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.modelhi2x.modelhi {
  display: none;
}

@media (min-width: 1200px) {
  .modelhi {
    display: none;
  }
}

@media (min-width: 1200px) {
  .modelhi2x.modelhi {
    display: block;
    transform: translate(-65%, -50%);
    width: 592px;
  }
}

@media (min-width: 992px) {
  .info-number {
    width: 64px;
    margin-right: 0px;
  }
}

.info-number {
  margin-right: 5px;
}

.info-cards-top {
  height: 100%;
}

.cards-info-third-topic {
  height: 540.984px;
}

@media (max-width: 768px) {
  .cards-info-third-topic {
    height: fit-content;
  }
}

/*.topics-container {
  height: 766px;
}

@media (min-width: 482px) {
  .topics-container {
    height: 824px;
  }
}

@media (min-width: 725px) {
  .topics-container {
    height: 964px;
  }
}

@media (min-width: 792px) {
  .topics-container
} */

@media (min-width: 1504px) {
  .more-info {
    transform: translateY(-10%);
  }

  .topics-container {
    height: 1064px;
  }

  .more-info-container {
    text-align: center;
  }

  .more-info-title-up {
    width: 488px;
  }

  .more-info-title-item {
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .more-info-subtitle-item {
    margin-bottom: 12px !important;
  }
}

@media (min-width: 1920px) {
  .more-info {
    transform: translateY(-10%);
  }
}

@media (min-width: 2000px) {
  .more-info {
    align-self: center;
    max-width: 1920px;
  }
}

#img2 {
  display: block;
}

@media (min-width: 1457px) {
  #img2 {
    display: none;
  }

  #img1.more-info {
    display: block;
  }
}

#img1 {
  display: none;
}

@media (min-width: 576px) {
  .item2img {
    width: 30% !important;
    margin-right: 44px;
  }
}

@media (min-width: 494px) and (max-width: 576px) {
  .randomp {
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

  .item2img {
    width: 35% !important;
  }

  .text-container {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .item2img {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .item2img {
    margin-right: 42px;
    margin-left: 42px;
    margin-top: 22px !important;
    margin-bottom: 22px !important;
    width: 25% !important;
  }
}

.item2img {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.card-items:hover .item2img {
  transform: scale(1.1);
}

#four, #four2, #four3, #four4, #four5 {
  transition-property: all;
}

.card-item {
  transition-property: background;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}

.first-card {
  z-index: 4;
}

.second-card {
  top: 44px;
  position: absolute;
  filter: blur(3px) opacity(0.24);
}

.third-card {
  top: 88px;
  position: absolute;
  filter: blur(3.5px) opacity(0.14);
  z-index: 0;
}

.first-title,
.first-subtitle,
.first-content,
.first-image,
.second-title,
.second-subtitle,
.second-content,
.second-image,
.third-title,
.third-subtitle,
.third-content,
.third-image {
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#sectionItems {
  cursor: pointer;
}

@media (min-width: 992px) {
  .item-description {
    max-width: 394px;
  }
}

.third-item-img {
  width: 50%;
}

@media (min-width: 768px) {
  .third-item-img {
    width: 25%;
    margin-right: 84px;
    margin-left: 84px;
  }
}

@media (min-width: 992px) {
  .third-item-title {
    font-size: 48px;
  }

  .third-item-subtitle {
    font-size: 24px;
  }

  .third-item-description {
    font-size: 18px;
    max-width: 494px;
  }
}

.third-section .containerlol .card-body {
  padding-top: 38px;
  padding-right: 38px;
  padding-left: 38px;
  padding-bottom: 38px;
}

.content-image {
  cursor: pointer;
}

.images-image {
  border-radius: 14px;
}

.images-description {
  max-width: 484px;
}

/*.images-container-content {
  
}*/

.custom-control-input {
  outline: 0;
  border: none;
  background-color: #dfe3e7;
}

#questionOne, #questionTwo, #questionThree, #questionFour, #questionFive {
  display: none;
}

#progressAnswers {
  border-radius: 8px;
}

#answers {
  display: none;
}

.form-container {
  width: 75%;
}

@media (min-width: 768px) {
  .form-container {
    width: 50%;
  }
}

html {
  scroll-behavior: smooth;
}
